<div ng-controller="forgotCtrl">
<div class="form-page">
  <div class="form">
    <form class="forgot-form">
      <input required="" type="text" placeholder="user name" ng-model="userName"/>
      <input required="" type="text" placeholder="email address" ng-model="email"/>
      <input required="" type="text" placeholder="What is your pet's name?" ng-model="question1"/>
      <input required="" type="text" placeholder="What is your first class teacher's name?" ng-model="question2"/>
      <button type="submit" ng-click="verify()">verify</button>
      <p class="message">Do you want to <a ng-click="registerDialog()">create a new accont</a>?</p>
      <p class="message">Do you want to <a ng-click="loginPage()">go back</a>?</p>
    </form>
  </div>
</div>
</div>
