        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <h3>About ADM</h3>
                        <br>
                        <p>There are different kinds of business in the world. When company becomes larger organization has to get very effective decision caring full surrounding. so in that situation the decision should be perfect one. If the organization use manually system to take decision that waist time and the money. And also it will not be a perfect one.
If we consider only one organization, there are different pay grade levels in the one organization. They want data in a different scope to take their decision. CEO has to wait to take final decision until submit other pay grade levels’ decisions. So this flow is not effective and good for new world.</p>
                        <p>Today we can give a good solution to these issues by using technological knowledge which will bring a new experience to all over the business men in the world. ”Airline Data Manager (ADM)” is the new application for solve this issues. It is very helpful and efficient. Actually that is transformation of raw data into meaningful and useful information for business analysis purposes. And also that is capable of handling large amounts of unstructured data to help identify, develop and otherwise create new strategic business plans.</p>
<p>Airline is the one of the best industry that does their work on time in Sri Lanka so we mainly focus to airline industry to get help from this “Airline Data Manager (ADM)”.</p>
                        <br>
                        <!--<a href="#tf-why-me" class="btn btn-primary my-btn dark">Why Hire Me</a>-->
                    </div>
                </div>
            </div>
        </div>
