        <div class="container">

            <div class="col-md-3">

                <div class="media">
                  <div class="media-top media-middle">
                    <img src="publics/images/13.png" class="clipArt"></img>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Your whole business on one dashboard</h4>
                    <p>With ADM on the web, monitor your important data from across your organization and from all of the apps you rely on.</p>
                  </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="media">
                  <div class="media-top media-middle">
                    <img src="publics/images/14.png" class="clipArt"></img>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Create stunning interactive reports</h4>
                    <p>ADM Desktop gives you tools to transform, analyze, and visualize data. Share reports in seconds with your organization using ADM on the web.</p>
                  </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="media">
                  <div class="media-top media-middle">
                    <img src="publics/images/16.png" class="clipArt"></img>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Consistent analysis across your organization</h4>
                    <p>With SQL Server Analysis Services on-premises and Azure Analysis Services in the cloud you can easily build robust, reusable models over your data to provide consistency across reporting and analysis in your organization.</p>
                  </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="media">
                  <div class="media-top media-middle">
                    <img src="publics/images/17.jpg" class="clipArt"></img>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Easily embed BI and analytics in your app</h4>
                    <p>Deliver stunning interactive reports in your app with the ADM Embedded service.</p>
                  </div>
                </div>

            </div>
            
        </div>
